section.section.answers
    .main-page__container
        .section__title 
            h3 Ответы на ваши вопросы
        .answers-acco
            .answers-acco__link Как сделать заказ?
                span.answers-acco__close свернуть
            .answers-acco__more.active
                ul.answers-acco__list
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
  
        .answers-acco
            .answers-acco__link Вы разрабатываете дизайн?
                span.answers-acco__close свернуть
            .answers-acco__more
                ul.answers-acco__list
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
  
        .answers-acco
            .answers-acco__link Какие способы оплаты?
                span.answers-acco__close свернуть
            .answers-acco__more
                ul.answers-acco__list
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
  
        .answers-acco
            .answers-acco__link Какие сроки производства?
                span.answers-acco__close свернуть
            .answers-acco__more
                ul.answers-acco__list
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
  
        .answers-acco
            .answers-acco__link Какие требования к макету?
                span.answers-acco__close свернуть
            .answers-acco__more
                ul.answers-acco__list
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
  
        .answers-acco
            .answers-acco__link Как узнать стоимость продукции?
                span.answers-acco__close свернуть
            .answers-acco__more
                ul.answers-acco__list
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
                    li.answers-acco__item
                        p У нас можно заказать флаеры, афиши, бланки, печати, штампы, вывески, лайтбоксы, цветные объемные буквы с подсветкой и штендеры. Современное оборудование. Если вам нужна оперативная печать полиграфической продукции высочайшего качества, тогда вы попали в нужное место.
  
        
