section.section.options
    .main-page__container
        .options-wrapp
            .options-left
                .section__title.section__title_position
                    h3 Вырианты оплаты
                ul.options__list
                    li.options__item
                        .options__img
                            img(src="./static/img/icon/purse.png").options-pic
                        .options__text
                            span Оплатить <br> в офисе
                    li.options__item
                        .options__img
                            img(src="./static/img/icon/score.png").options-pic
                        .options__text
                            span Оплатить по <br> расчетному <br> счету
                ul.options__list
                    li.options__item
                        .options__img
                            img(src="./static/img/icon/card.png").options-pic
                        .options__text
                            span Оплатить <br> по карте
                    li.options__item
                        .options__img
                            img(src="./static/img/icon/pay-online.png").options-pic
                        .options__text
                            span Оплатить <br> онлайн
            .options-right
                .section__title.section__title_none
                    h3 Варианты доставки
                ul.options__list.options__list_column
                    li.options__item.options__item_margin-bottom
                        .options__img
                            img(src="./static/img/icon/time.png").options-pic
                        .options__text
                            span Самовывоз из <br> офиса по графику: <br> Пн-Сб: с 10-00 до <br> 19-00
                    li.options__item
                        .options__img
                            img(src="./static/img/icon/courier.png").options-pic
                        .options__text
                            span Доставка курьером <br> по вашему адресу <br> от 300 руб.