section.section.popular
    .main-page__container
        .section__title
            h3 Популярные тиражи
        .popular-view
            .popular-row
                .popular-view__box
                    .popular-view__title
                        a(href="javascript:void(0)") Растяжки
                    .popular-view__image
                        a(href="javascript:void(0)")
                            img(src="./static/img/content/popular/pic-1.jpg", alt="")
                .popular-view__box
                    .popular-view__title
                        a(href="javascript:void(0)") Плакаты
                    .popular-view__image
                        a(href="javascript:void(0)")
                            img(src="./static/img/content/popular/pic-2.jpg", alt="")
                .popular-view__box
                    .popular-view__title
                        a(href="javascript:void(0)") Пресс-волы
                    .popular-view__image
                        a(href="javascript:void(0)")
                            img(src="./static/img/content/popular/pic-3.jpg", alt="")
                    
            .popular-row
                .popular-view__box
                    .popular-view__title
                       a(href="javascript:void(0)") Штендеры
                    .popular-view__image
                        a(href="javascript:void(0)")
                            img(src="./static/img/content/popular/pic-4.jpg", alt="")
                .popular-view__box
                    .popular-view__title 
                        a(href="javascript:void(0)") Ролл-апы
                    .popular-view__image
                        a(href="javascript:void(0)")
                            img(src="./static/img/content/popular/pic-5.jpg", alt="")
                .popular-view__box
                    .popular-view__title
                        a(href="javascript:void(0)") Лайтбоксы
                    .popular-view__image
                        a(href="javascript:void(0)")
                            img(src="./static/img/content/popular/pic-6.jpg", alt="")
            .popular-row
                .popular-view__box
                    .popular-view__title
                        a(href="javascript:void(0)") Стенды
                    .popular-view__image
                        a(href="javascript:void(0)")
                            img(src="./static/img/content/popular/pic-7.jpg")
                .popular-view__box.popular-view__box_order
                    a(href="javascript:void(0)") Оформить индивидуальный заказ
                        //- svg(width="36px" height="42px").icon
                        //-     <path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111  C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587  c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"/>