section.section.portfolio
    .main-page__container
        .section__title Портфолио
        .slider
            .slider__next
            .slider__prev
            .slider__js
                .slider__item
                    img(src="./static/img/slider/slide.jpg", alt="Слайд").slider__item-pic
                    img(src="./static/img/slider/slide2.jpg", alt="Слайд").slider__item-pic
                    img(src="./static/img/slider/slide3.jpg", alt="Слайд").slider__item-pic
                .slider__item
                    img(src="./static/img/slider/slide.jpg", alt="Слайд").slider__item-pic
                    img(src="./static/img/slider/slide2.jpg", alt="Слайд").slider__item-pic
                    img(src="./static/img/slider/slide3.jpg", alt="Слайд").slider__item-pic
                .slider__item
                    img(src="./static/img/slider/slide.jpg", alt="Слайд").slider__item-pic
                    img(src="./static/img/slider/slide2.jpg", alt="Слайд").slider__item-pic
                    img(src="./static/img/slider/slide3.jpg", alt="Слайд").slider__item-pic
    
        .portfolio-descr
            .portfolio-descr__content
                .portfolio-descr__left
                    .portfolio-descr__title
                        p Преимущества <br> широкоформатной <br> печати
                .portfolio-descr__right
                    .portfolio-descr__text
                        p Когда клиенту понадобится ваш продукт, он извлечет из подсознания яркий плакат, который видел каждый день по дороге на работу, и позвонит вам. Именно так работает широкоформатная печать баннеров.
                        h4 Преимущества технологии:
                        p — Огромные размеры: яркая, заметная реклама формирует имидж компании и повышает узнаваемость бренда.
                        p — Низкая стоимость: реклама на телевидении и в прессе, создание и продвижение сайта стоят дороже.
                        p — Работает круглосуточно: баннер, стенд, перетяжка работают на вас 24 часа в сутки, вне зависимости от погодных условий.
                        p — Большие дизайнерские возможности: широкоформатная печать баннеров позволяет использовать полную гамму цветов, наносить разные полутона и оттенки, создавать градиентную заливку и т.д.
            
            .portfolio-descr__content
                .portfolio-descr__left
                    .portfolio-descr__title
                        p Работа с нами
                .portfolio-descr__right
                    .portfolio-descr__text
                        h4 Сотрудничать с нами выгодно, потому что::
                        p — Цена печати – одна из самых низких в столице: если вы ищете изготовление уличной рекламы или печать плакатов дешево, то это к нам.
                        p — Работаем профессионально: подчеркнем корпоративный стиль, сделаем оригинальный дизайн, с помощью современных плоттеров добьемся высочайшего разрешения до 2880 dpi.
                        p — Используем только сертифицированные материалы, чернила без специфического запаха и токсичных выделений.
                        p — Принимаем заказы любого объема: от 1 экземпляра до крупного тиража.
                        p — Делаем продукцию любого размера: технические ограничения отсутствуют.
                        p — Сроки указываете вы: если есть макет, сможете забрать баннер в течение нескольких часов.
            
            .portfolio-descr__content
                .portfolio-descr__left
                    .portfolio-descr__title
                        p Срочная широкоформатная <br> печать
                .portfolio-descr__right
                    .portfolio-descr__text
                        p Для тех, кому нужна продукция в экстренном порядке, у нас есть услуга «срочная широкоформатная печать». Изготовим рекламный продукт к началу выставки, конференции, концерта или другого мероприятия за 1-2 часа.

            .portfolio-descr__content
                .portfolio-descr__left
                    .portfolio-descr__title
                        p Требования к макетам для широкоформатной <br> печати
                .portfolio-descr__right
                    .portfolio-descr__text
                        p Присылайте готовые макеты на адрес 7292554@mail.ru. Если файл большой, можно использовать файлообменник и отправить ссылку на файл.
                        p Также мы принимаем макеты в офисе компании по адресу г. Москва, ул. Шарикоподшипниковская, д.13, ТЦ «Дубровка». Загрузите файл на USB Flash-карту, USB внешний жесткий диск, DVD, CD.
                        h4 Перед отправкой макета ознакомьтесь с требованиями:
                        p — Оптимальный формат – PDF, TIF. Также принимаем CDR, AI, EPS.
                        p — Сохранение файла с LZW-компрессией. Не подходят программы Autocad, Microsoft Office.
                        p — Каждое изображение для печати в отдельном файле.
                        p — Альфа-каналы и пути отсутствуют.
                        p — Цветовая палитра: CMYK, 8 bits.
                        p — Шрифты в кривых.
                        p — Масштаб 1 к 1, припуски отсутствуют.
                        p — Разрешение: для 360 dpi – до 80 пикселей/дюйм, для 720 dpi – до 150 пикселей/дюйм.