section.section.price
    .main-page__container
        .section__title
            h3 Стоимость
        .price-wrapp
            table.price-list
                thead.price-list__header
                    tr
                        th.price-list__th Материал
                        th 360 dpi
                        th 540 dpi
                        th 720 dpi
                        th 1440 dpi
                tbody
                    tr
                        td.price-list__item Китай 440
                        td.price-list__item 240
                        td.price-list__item 250
                        td.price-list__item 250
                        td.price-list__item 645
                    tr
                        td.price-list__item Европа 440
                        td.price-list__item 240
                        td.price-list__item 250
                        td.price-list__item 250
                        td.price-list__item 645
                    tr
                        td.price-list__item Европа 510
                        td.price-list__item 240
                        td.price-list__item 250
                        td.price-list__item 250
                        td.price-list__item 645
                    tr
                        td.price-list__item Банерная сетка
                        td.price-list__item 240
                        td.price-list__item 250
                        td.price-list__item 250
                        td.price-list__item 645
                    tr
                        td.price-list__item Бумага Ситилайт
                        td.price-list__item 240
                        td.price-list__item 250
                        td.price-list__item 250
                        td.price-list__item 645
                    tr
                        td.price-list__item Пленка самоклеющаяся ОРАЖДЕТ
                        td.price-list__item 240
                        td.price-list__item 250
                        td.price-list__item 250
                        td.price-list__item 645
                    tr
                        td.price-list__item Пленка перфорированная
                        td.price-list__item —
                        td.price-list__item —
                        td.price-list__item 250
                        td.price-list__item 645
                    tr
                        td.price-list__item Пленка Бэклит без клеевого слоя
                        td.price-list__item —
                        td.price-list__item —
                        td.price-list__item 250
                        td.price-list__item 645
            .price-desrc
                .price__title Дополнительно
                .price__text
                    p   Стоимость услуг дизайнера (наш дизайнер нарисует для вас макет или доработает ваш макет) 
                    p   Стоимость цветопробы
        .video-frame
            a(href="javascript:void(0)").video-frame__preview
                img(src="./static/img/content/video/video.jpg").video-frame-pic
                .video-start
                    img(src="./static/img/icon/video-start.png")
                    p  Посмотреть процесс широкоформатной печати