section.section.questions
    .main-page__container
        .section__title Остались вопросы?
        .questions__row
            .questions-call
                .question__title
                    p Позвоните
                    a(href="tel:74952419463").question__title-link +7 (495) 241 94 63
                .questions__image
                    img(src="./static/img/icon/call.png", alt="").questions__pic
                .question__sub-title
                    p или
                    a(href="javascript:void(0)").questions__sub-link Закажите обратный звонок
            .questions-mail
                .question__title
                    p Напишите на email
                    a(href="mailto:729554@mail.ru").question__title-link 729554@mail.ru
                .questions__image
                    img(src="./static/img/icon/mail.png", alt="").questions__pic
                .question__sub-title
                    a(href="javascript:void(0)").questions__sub-link Мы ответим в течение часа
            .questions-map
                .question__title
                    p Приезжайте
                    a(href="javascript:void(0)").question__title-link к нам в офис
                .questions__image
                    img(src="./static/img/icon/map.png", alt="").questions__pic
                .question__sub-title
                    a(href="javascript:void(0)").questions__sub-link Схема проезда