section.section.services
    .services-menu
        ul.services-menu__list
            li.services-menu__item
                a(href="javascript:void(0)").services-menu__link Виды печати
            li.services-menu__item
                a(href="javascript:void(0)").services-menu__link Стоимость
            li.services-menu__item
                a(href="javascript:void(0)").services-menu__link Оплата и доставка
            li.services-menu__item
                a(href="javascript:void(0)").services-menu__link Виды печати
            li.services-menu__item
                a(href="javascript:void(0)").services-menu__link Виды печати
    .container
        .services__content
            .services__title
                h1 Широкоформатная печать
            .services__desrc
                .services__desrc-text
                    p Все виды широкоформатной печати
                .services__desrc-sublist
                    ul
                        li
                            span Растяжки
                        li
                            span Световые короба
                        li
                            span Вывески
                        li
                            span Штендеры
                .services__desrc-order
                    span +7 (495) 241-96-37
                    a(href="javascript:void(0)").btn.btn_width Оформить онлайн