.services {
    background: url('../img/bg/service-bg.jpg') 0 0 no-repeat, linear-gradient(to bottom, #392D88, #261F38);
    background-size: cover;
    position: relative;
    &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        content: '';
        background: linear-gradient(to bottom, #392D88, #261F38);
        opacity: .5;
    }
}

