.slider {
    position: relative;
    .bx-wrapper {
        box-shadow: none;
        border: none;
        background: none;
    }
}

.slider {
    .slider__item {
        display: flex;
        justify-content: space-around;
        img {
            width: 32%;
            height: 100%;
            max-width: 296px;
        }
    }
}

.slider__next {
    .bx-next {
        position: absolute;
        top: 50%;
        right: -67px;
        content: '';
        transform: translateY(-50%);
        background: url("../img/slider/arrow-right.png") no-repeat;
        width: 19px;
        height: 24px;
        display: inline-block;
        @media screen and (max-width: 1090px) {
            top: 110%;
            left: 60%;
    }
}
}

.slider__prev {
    .bx-prev {
        position: absolute;
        top: 50%;
        left: -67px;
        content: '';
        transform: translateY(-50%);
        background: url("../img/slider/arrow-left.png") no-repeat;
        width: 19px;
        height: 24px;
        display: inline-block;
        @media screen and (max-width: 1090px) {
            top: 110%;
            left: 40%;
    }
    }
}