footer.footer
    .container
        .footer__inner
            .footer-left
                .footer__title
                    h4 Типография
                ul.footer__list
                    li.footer__item
                        a(href="").footer__link О компании
                    li.footer__item
                        a(href="").footer__link Оборудование
                    li.footer__item
                        a(href="").footer__link Оплатить заказ
                    li.footer__item
                        a(href="").footer__link Портфолио
                    li.footer__item
                        a(href="").footer__link Доставка
                    li.footer__item
                        a(href="").footer__link Контакты
                    li.footer__item
                        a(href="").footer__link Статьи
                    li.footer__item
                        a(href="").footer__link Сотрудничество
                    li.footer__item
                        a(href="").footer__link FAQ
                    li.footer__item
                        a(href="").footer__link Дизайн
                    li.footer__item
                        a(href="").footer__link Требования к макетам
            .footer-middle
                .footer__title
                    h4 Полиграфические услуги
                .footer-middle__inner
                    .footer-middle__left
                        ul.footer__list
                            li.footer__item
                                a(href="").footer__link Визитки
                            li.footer__item
                                a(href="").footer__link Бланки и самокопирующиеся бланки
                            li.footer__item
                                a(href="").footer__link Цифровая печать
                            li.footer__item
                                a(href="").footer__link Наклейки
                            li.footer__item
                                a(href="").footer__link Объемные буквы
                            li.footer__item
                                a(href="").footer__link Тампопечать
                            li.footer__item
                                a(href="").footer__link Календари
                            li.footer__item
                                a(href="").footer__link Ресторанное меню
                            li.footer__item
                                a(href="").footer__link Ризография
                            li.footer__item
                                a(href="").footer__link Вывески
                            li.footer__item
                                a(href="").footer__link Изготовление печатей
                            li.footer__item
                                a(href="").footer__link Широкоформатное ламинирование
                    .footer-middle__right
                        ul.footer__list
                            li.footer__item
                                a(href="").footer__link Листовки и флаеры
                            li.footer__item
                                a(href="").footer__link Бумажные пакеты
                            li.footer__item
                                a(href="").footer__link Тиснение фольгой
                            li.footer__item
                                a(href="").footer__link Растяжки
                            li.footer__item
                                a(href="").footer__link Широкоформатная печать
                            li.footer__item
                                a(href="").footer__link Буклеты
                            li.footer__item
                                a(href="").footer__link Брошюры
                            li.footer__item
                                a(href="").footer__link Авиши
                            li.footer__item
                                a(href="").footer__link Световые короба
                            li.footer__item
                                a(href="").footer__link Плоттерная резка
                            li.footer__item
                                a(href="").footer__link Информационные стенды и таблички
            .footer-right
                .footer__title
                    h4 Контакты
                .footer__tagline «Полиграфия от А до Я» — ваш надежный партнер в сфере маркетинга и рекламы!
                .contacts
                    .phone
                        img(src="./static/img/icon/phone-fot.png").icon
                        a(href="tel:74952419463").phone__link +7 (495) 241 94 63
                    .time-work
                        span Пн-Сб 10:00—19:00 Вс — выходной
                    .mail
                        a(href="mailto:7292554@mail.ru").mail__link 7292554@mail.ru

                .adress
                    .adress__text
                        img(src="./static/img/icon/mark-fot.png").icon
                        span Москва, м. Дубровка ул. Шарикоподшипниковская, д. 13
                    a(href="javascript:void(0)").adress__link Как нас найти
        .footer__title.footer__title_sub Мы на карте
    #map.ymap
        