header.header
    .header__top-line
        .container.line-container
            nav.nav-bar
                ul.nav-bar__list
                    li.nav-bar__item
                        a(href="javascript:void(0)").nav-bar__link О компании
                    li.nav-bar__item
                        a(href="javascript:void(0)").nav-bar__link Портфолио
                    li.nav-bar__item
                        a(href="javascript:void(0)").nav-bar__link Сотрудничество
                    li.nav-bar__item
                        a(href="javascript:void(0)").nav-bar__link Требования  к макету
                    li.nav-bar__item
                        a(href="javascript:void(0)").nav-bar__link Контакты
            .bookmarks
                a(href="javascript:void(0)").bookmarks__link Добавить в закладки

    .header__middle-line
        .container.line-container
            .logo
                a(href="javascript:void(0)").logo-link
                    img(src="./static/img/logo.png").logo-pic
                .logo__text
                    span Ваш заказ уже сегодня
            .humburger
                .humburger__line
                .humburger__line
                .humburger__line
            .contacts
                .phone
                    img(src="./static/img/icon/phone.png").icon
                    a(href="tel:74952419463").phone__link +7 (495) 241 94 63
                .time-work
                    span Пн-Сб 10:00—19:00 Вс — выходной
                .mail
                    a(href="mailto:7292554@mail.ru").mail__link 7292554@mail.ru

            .adress
                .adress__text
                    img(src="./static/img/icon/mark.png").icon
                    span Москва, м. Дубровка ул. Шарикоподшипниковская, д. 13
                a(href="javascript:void(0)").adress__link Как нас найти

            .order
                a(href="javascript:void(0)").btn.btn_margin Срочный заказ
                a(href="javascript:void(0)").order__link Задать вопрос

    .header__bottom-line
        .container
            nav.nav
                ul.nav__list
                    li.nav__item
                        a(href="javascript:void(0)").nav__link Печатная продукция
                        .dropdown
                            .dropdown__row
                                .container
                                    ul.dropdown__list
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Визитки
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Календарь-домик
                                                    a(href="javascript:void(0)") Календарь-домик
                                                    a(href="javascript:void(0)") Календарь-домик
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Календари
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Календарь перекидной
                                                    a(href="javascript:void(0)") Календарь карманный
                                                    a(href="javascript:void(0)") Календарь квартальный
                                                    a(href="javascript:void(0)") Календарь отрывной
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Листовки и флаеры
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Листовки 100х200
                                                    a(href="javascript:void(0)") Листовки А4
                                                    a(href="javascript:void(0)") Листовки А5
                                                    a(href="javascript:void(0)") Листовки А6
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Буклеты
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Буклеты А4
                                                    a(href="javascript:void(0)") Буклеты А3
                            .dropdown__row
                                .container
                                    ul.dropdown__list
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Меню
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Календарь-домик
                                                    a(href="javascript:void(0)") Календарь-домик
                                                    a(href="javascript:void(0)") Календарь-домик
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Брошюры
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Брошюры 99х210
                                                    a(href="javascript:void(0)") Брошюры А5
                                                    a(href="javascript:void(0)") Брошюры 200х200
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Афиши
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Афиша А1/А2
                                                    a(href="javascript:void(0)") Афиша А3
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Бланки <br> и самокопирующиеся бланк
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Буклеты А4
                                                    a(href="javascript:void(0)") Буклеты А3
                    li.nav__item
                        a(href="javascript:void(0)").nav__link Услуги
                        .dropdown
                            .dropdown__row
                                .container
                                    ul.dropdown__list
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Визитки
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Календарь-дача
                                                    a(href="javascript:void(0)") Календарь-домик
                                                    a(href="javascript:void(0)") Календарь-домик
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Календари
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Календарь перекидной
                                                    a(href="javascript:void(0)") Календарь карманный
                                                    a(href="javascript:void(0)") Календарь квартальный
                                                    a(href="javascript:void(0)") Календарь отрывной
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Листовки и флаеры
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Листовки 100х200
                                                    a(href="javascript:void(0)") Листовки А4
                                                    a(href="javascript:void(0)") Листовки А5
                                                    a(href="javascript:void(0)") Листовки А6
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Буклеты
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Буклеты А4
                                                    a(href="javascript:void(0)") Буклеты А3
                            .dropdown__row
                                .container
                                    ul.dropdown__list
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Меню
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Календарь-домик
                                                    a(href="javascript:void(0)") Календарь-домик
                                                    a(href="javascript:void(0)") Календарь-домик
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Брошюры
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Брошюры 99х210
                                                    a(href="javascript:void(0)") Брошюры А5
                                                    a(href="javascript:void(0)") Брошюры 200х200
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Афиши
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Афиша А1/А2
                                                    a(href="javascript:void(0)") Афиша А3
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Бланки <br> и самокопирующиеся бланк
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Буклеты А4
                                                    a(href="javascript:void(0)") Буклеты А3
                    li.nav__item
                        a(href="javascript:void(0)").nav__link Наружная и интерьерная реклама
                        .dropdown
                            .dropdown__row
                                .container
                                    ul.dropdown__list
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Визитки
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Календарь-дача
                                                    a(href="javascript:void(0)") Календарь-домик
                                                    a(href="javascript:void(0)") Календарь-домик
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Календари
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Календарь перекидной
                                                    a(href="javascript:void(0)") Календарь карманный
                                                    a(href="javascript:void(0)") Календарь квартальный
                                                    a(href="javascript:void(0)") Календарь отрывной
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Листовки и флаеры
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Листовки 100х200
                                                    a(href="javascript:void(0)") Листовки А4
                                                    a(href="javascript:void(0)") Листовки А5
                                                    a(href="javascript:void(0)") Листовки А6
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Буклеты
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Буклеты А4
                                                    a(href="javascript:void(0)") Буклеты А3
                            .dropdown__row
                                .container
                                    ul.dropdown__list
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Меню
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Календарь-домик
                                                    a(href="javascript:void(0)") Календарь-домик
                                                    a(href="javascript:void(0)") Календарь-домик
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Брошюры
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Брошюры 99х210
                                                    a(href="javascript:void(0)") Брошюры А5
                                                    a(href="javascript:void(0)") Брошюры 200х200
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Афиши
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Афиша А1/А2
                                                    a(href="javascript:void(0)") Афиша А3
                                        li.dropdown__item
                                            a(href="javascript:void(0)").dropdown__title Бланки <br> и самокопирующиеся бланк
                                            ul.sublist
                                                li
                                                    a(href="javascript:void(0)") Буклеты А4
                                                    a(href="javascript:void(0)") Буклеты А3
    


